.discover-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.discover-main{
  border-right: 1px solid #e5e5e5;
  width: 72%;
  display: flex;
  justify-content: center;
}