// Session Links
.login-signup {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  // border: 1px solid black;
  width: auto;
  height: 456px;
  background-image: image-url("session_links_banner.jpg");
  background-position: -100px -100px;
  align-items: flex-start;
  width: auto;
  // position: relative;
  // flex-direction: row;
  background-repeat: no-repeat;
}

.login-signup-links {
  display: flex;
  // font-family: 'Amatic SC', cursive;
  // font-family: 'Shadows Into Light', cursive;
  // margin-bottom: 433px;
}

.login-signup-links li {
  padding-right: 10px;
}

.login-signup span {
  text-align: center;
  // font-family: 'Amatic SC', cursive;
  // font-family: 'Waiting for the Sunrise', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: 21px;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
  // width: 80%;
}

.lead {
  align-self: center;
  color: white;
  // font-family: 'Amatic SC', cursive;
  text-align: center;
  // font-size: 20px;
  // width: 65%;
}

.lead h2 {
    font-family: 'Shadows Into Light', cursive;
    // font-family: 'Amatic SC', cursive;
    // font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    filter: drop-shadow(2px 1px 4px black);
  }

  .lead p {
    // font-family: 'Waiting for the Sunrise', cursive;
    filter: drop-shadow(2px 1px 4px black);
  }

  .lead a {
    // border: 1px solid white;
    padding: 5px 15px 5px 15px;
    background-color: rgb(70, 81, 94);
    border-radius: 3px;
  }

.id-logo {
  margin-left: 10px;
}

#ico {
  font-size: 35px;
  color: white;
  margin-right: 7px;
}

.auth-nav {
  // position: absolute;
  // top: 0;
  // right: 0;
}

.login-button {
  border: 1px solid black;
  border-radius: 5px;
}

.signup-button {
  border-radius: 5px;
  background-color: rgb(26, 47, 72);
  color: white
}

.creator-button {
}

// Logged Greeting - add later
.navbar-header {
  background-color: rgb(26, 47, 72);
  height: 50px;
}

  .navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .root-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
  }