// Session Links
.login-signup {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: auto;
  height: 456px;
  justify-content: space-between;
  background-image: image-url("session_links_banner.jpg");
  background-position: -100px -100px;
  align-items: center;
  width: auto;
}

.login-signup-links {
  display: flex;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 433px;
}

.login-signup span {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
  width: 80%;
}

.login-button {
  border: 1px solid black;
  border-radius: 5px;
}

.signup-button {
  border-radius: 5px;
  background-color: rgb(26, 47, 72);
  color: white
}

.creator-button {
}

// Logged Greeting - add later