// Session Links
.login-signup {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: auto;
  height: 456px;
  background-image: image-url("session_links_banner.jpg");
  background-position: -100px -100px;
  align-items: flex-start;
  width: auto;
  // position: relative;
  // flex-direction: row;
  background-repeat: no-repeat;
}

.login-signup-links {
  display: flex;
  font-family: 'Amatic SC', cursive;
  // margin-bottom: 433px;
}

.login-signup-links li {
  padding-right: 10px;
}

.login-signup span {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 21px;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
  // width: 80%;
}

.lead {
  align-self: center;
  color: white;
}

.id-logo {
  margin-left: 10px;
}

.fab fa-soundcloud {
  size: 50px;
}

.auth-nav {
  // position: absolute;
  // top: 0;
  // right: 0;
}

.login-button {
  border: 1px solid black;
  border-radius: 5px;
}

.signup-button {
  border-radius: 5px;
  background-color: rgb(26, 47, 72);
  color: white
}

.creator-button {
}

// Logged Greeting - add later
.navbar-header {
  background-color: rgb(26, 47, 72);
  height: 50px;
}

  .navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .root-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
  }