// Protected Nav Section
.protected-nav {
  // position: fixed;
  // top: 0;
  // left: 39;
  // z-index: 999;
  display: flex;
  background-color: #333333;
  color: #CCCCCC;
  font-family: 'Roboto', sans-serif;
  height: 45px;
  font-size: 15px;
  justify-content: space-evenly;
  align-items: center;
  width: 1269px;
}

  .nav-content {
    display: flex;
    width: 25%;
  }
    .content-link {
      display: flex;
      align-self: auto;
      // border: 1px solid #111111;
      border-left: 1px solid #111111;
      border-right: 1px solid #111111;
      padding: 0px 30px 25px 30px;
      margin-right: -1px;
    }
      .nav-active {
        background-color: #111111;
        color: white;
      }
      .nav-upgrade {
        border: 1px dotted rgb(77, 129, 193);
        color: rgb(77, 129, 193);
      }

  .nav-search {
    border: 1px solid black;
    width: auto;
    // position: relative;
  }
    .nav-search input {
      border: 1px solid black;
      height: 27px;
      // width: 50%;
      // position: absolute;
      position: relative;
      width: 427px;
      border-radius: 4px;
    }
    .fas.fa-search.nav {
      border: 1px solid black;
      position: absolute;
      font-size: 17px;
      margin-top: 5px;
      margin-right: 1px;
    }
  
  .nav-user-actions {
    padding: 1px 0px 0px 0px;
    height: 100%;
    // display: flex;
    justify-content: space-evenly;
    width: 29%;
  }
    .actions-link {
      padding: 1px 1px 1px 1px;
      height: 100%;
      width: 100%;
    }

// Auth Nav Section
.login-signup {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 456px;
  background-image: image-url("session_links_banner.jpg");
  background-position: 0px -100px;
  align-items: flex-start;
  width: auto;
  background-repeat: no-repeat;
  align-content: center;
}

.thebar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

// icon and title
.id-logo {
  margin-left: 10px;
  margin-top: 20px;
}
  .fab.fa-soundcloud {
    font-size: 35px;
    color: white;
    margin-right: 7px;
  }
    .login-signup span {
      text-align: center;
      font-family: 'Shadows Into Light', cursive;
      font-size: 21px;
      color: white;
      filter: drop-shadow(2px 2px 2px black);
    }

.lead-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// main text
.lead {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 750px;
}
  .lead h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    filter: drop-shadow(2px 1px 4px black);
  }
  .lead p {
    margin-top: 15px;
    filter: drop-shadow(2px 1px 4px black);
  }
  .lead-div {
    margin-top: 50px;
    font-family: sans-serif;
  }
  .lead a {
    width: 161px;
    margin-top: 50px;
    padding: 13px 18px 13px 18px;
    // background-color: rgb(70, 81, 94);
    background-color: rgb(26, 47, 72);
    border-radius: 3px;
  }

  // signup/in links
.auth-nav {
  margin-top: 20px;
}
  .login-signup-links {
    display: flex;
  }
    .login-signup-links li {
      padding-right: 10px;
      font-size: 13px;
      color: white;
    }
      .login-button {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 13px 5px 13px;
      }
      .signup-button {
        border-radius: 5px;
        background-color: rgb(26, 47, 72);
        padding: 5px 13px 5px 13px;
      }
      .creator-button {
        padding: 5px 13px 5px 13px;
      }