@import 'variables';

// Protected Nav Section
.pro-navbar-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: $black;
  color: $light-gray;
  z-index: -1;
}

.pro-navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 46px;
  width: 79.45rem;
  background-color: $black;
  color: $light-gray;
  font-family: $roboto;
  font-size: 15px;
}

  // MAIN
  .pro-navbar-main{
    display: flex;
    height: 100%;
    text-align: center;
  }
    .pro-navbar-main-icon{
      height: 100%;
      width: 75px;
      background-image: linear-gradient(45deg, $coral, $lavandula);
    }
      .pro-navbar-main-icon-link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
        .pro-navbar-main-icon-link-active{
          background-color: $thistle;
        }
          .fab.fa-soundcloud.home {
            font-size: 35px;
            color: $white;
          }

    .pro-navbar-main-icon-content{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 104px;
      height: 100%;
      border-left: 1px solid $nav-border;
      border-right: 1px solid $nav-border;
      margin-right: -1px;
    }
      .pro-navbar-main-icon-content-active{
        background-color: $nav-border;
        color: white;
      }

  // SEARCH
  .pro-navbar-search{
    position: relative;
    width: 38%;
  }
    .pro-navbar-search-input{
      width: -webkit-fill-available;
      height: 27px;
      border-radius: 4px;
      background-color: $white;
      text-align: center;
    }
      .fas.fa-search.nav{
        position: absolute;
        font-size: 17px;
        margin-left: -22px;
        margin-top: 4px;
        z-index: 1;
        color: $search-gray;
      }

  // MISC
  .pro-navbar-misc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 27%;
  }
    .pro-navbar-misc-link{
      display: flex;
      align-items: center;
      padding: 0px 13px 0px 13px;
      height: 100%;
    }
      .pro-navbar-misc-upgrade{
        border: 1px dotted $coral;
        color: $coral;
      }

// Dropdown Section
.nav-dropdown{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}
.nav-dropdown-block{
  background-color: $nav-border;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}
  .nav-dropdown-content{
    position: absolute;
    display: none;
  }
  .nav-dropdown-content-block{
    position: absolute;
    display: block;
    right: 0px;
    margin-top: 35px;
    background-color: $nav-border;
  }
    .nav-dropdown-content-block:hover{
      background-color: $black;
    }
    .nav-dropdown-li{
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82px;
      height: 25px;
    }


// Auth Nav Section
.auth-navbar{
  position: relative;
  display: flex;
  align-items: center;
  font-family: $roboto;
  font-size: 13px;
  top: 0;
}

  .auth-navbar-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 0px;
    color: $white;
  }
    .auth-navbar-links{
      display: flex;
      justify-content: space-between;
    }
    .auth-navbar-links-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 8rem;
        margin-left: 10px;
      }
        .fab.fa-soundcloud.splash{
          font-size: 2.5rem;
        }
        .auth-navbar-links-title{
          filter: drop-shadow(2px 4px 4px black);
          font-size: 18px;
          letter-spacing: 1px;
        }

    .auth-navbar-links-main{
      width: 340px;
    }
      .auth-navbar-links-main-ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 46px;
      }
        .login-button {
          border: 1px solid $white;
          border-radius: 5px;
          padding: 5px 13px 5px 13px;
        }
        .signup-button {
          border-radius: 5px;
          background-color: $coral;
          padding: 10px 15px 10px 15px;
          transition: 1s;
        }
        .signup-button:hover {
          background-color: $gold;
        }
        .upload-button {
          border-radius: 5px;
          background-color: $coral;
          padding: 10px 15px 10px 15px;
          font-size: 15px;
          transition: 1s;
        }
        .upload-button:hover{
          background-color: $gold;
        }
        .creator-button{
          padding: 5px 13px 5px 13px;
        }

  .auth-navbar-text{
    text-align: center;
    height: 71%;
    display: flex;
    justify-content: center;
  }
    .auth-navbar-text-details{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      align-self: center;
      width: 750px;
      height: 180px;
    }
      .auth-navbar-text-title{
        font-size: 3em;
        filter: drop-shadow(2px 4px 4px black);
      }
      .auth-navbar-text-desc{
        font-size: 17px;
        filter: drop-shadow(2px 4px 4px black);
      }