
.header-name {
  border: 1px solid blueviolet;
}

.header-button {
  border: 1px solid blueviolet;
}

.header-group {
  border: 1px solid blueviolet;
}

.login-signup {
  border: 1px solid blueviolet;
}