.splash{
  border: 1px solid black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

// Search bar and upload
.splash-search-bar {
  border: 1px solid black;
  position: relative;
  display: flex;
  min-width: 190px;
}
  .search-bar {
    border: 1px solid black;
    width: 351px;
  }
    .search-bar input {
      border: 1px solid black;
      width: 100%;
      background-color: rgba(216, 219, 222, 0.495);
    }

  .fas {
    border: 1px solid black;
    // position: absolute;
  }

  .splash-search-bar a {
    border: 1px solid black;
    color: white;
    background-color: rgb(26, 47, 72);
  }


// trending
.splash-trending {
  font-size: 23px;
  padding: 32px 0px 33px 0px;
}

.splash-tracks {
  // border: 1px solid black;
}
  .splash-tracks ul {
    // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // width: auto;
  }
    .splash-tracks ul li {
      // border: 1px solid black;
      padding: 88px 55px 80px 55px;
      margin: 0px 17px 13px 0px;
      // margin-right: 20px;
      // margin-bottom: 83px;
      background-color: rgba(26, 47, 72, 0.53);
      color: white;
    }

.splash-explore {
  padding: 10px 0px 10px 0px;
  width: 204px;
  align-self: center;
  margin: 28px 0px 56px 0px;
  background-color: rgb(26, 47, 72);
  color: white;
  border-radius: 3px;
}

// Upgrade - replaces app store/google play
.splash-upgrade {
  height: 445px;
  background-image: image-url("splash_listen.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  color: white;
}
  .splash-upgrade-box {
    // border: 1px solid black;
    height: 100%;
    width: 500px;
    margin-left: 597px;
    // background-color: rgb(26, 47, 72);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(26, 47, 72));
  }
  .splash-upgrade h1 {
    font-size: 50px;
    padding-top: 25px;
    }
    .splash-upgrade hr {
      border: none;
      // border: 2px solid white;
      width: 80px;
      padding: 3px 0px 0px 0px;
      background-image: linear-gradient(to right, purple , blue);
    }

.splash-creator {
  border: 1px solid black;
  height: 342px;
  background-image: image-url("splash_creators.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -31px;
  color: white;
}

// footer
.splash-footer {
  border: 1px solid black;
  height: 375px;
}
  .splash-footer h1 {
    border: 1px solid black;
    font-size: 37px;
    margin-top: 80px;
  }
  .splash-footer p {
    border: 1px solid black;
  }
  .splash-footer a {
    border: 1px solid black;
  }