@import 'variables';
.splash-container{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $roboto;
  background-color: $white;
  color: $black;
}

// Search Bar Section
.splash-searchbar-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  height: 100px;
}
  .splash-searchbar-search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    background-color: $snow;
    border-radius: 5px;
  }
    .splash-searchbar-input{
      width: 453px;
      height: 44px;
      text-align: left;
      border-radius: 3px;
      background-color: $snow;
      color: rgb(191, 187, 187);
      padding-left: 10px;
    }

  .fas.fa-search.splash {
    margin-right: 10px;
    margin-top: 7px;
    font-size: 25px;
  }

  .splash-searchbar-or{
    padding: 12px;
  }

.splash-searchbar-upload{
  padding: 13px 15px 13px 15px;
  border-radius: 3px;
  background-color: $coral;
  color: white;
  transition: 1s;
}
.splash-searchbar-upload:hover{
  background-color: $gold;
}

// Trending Section
.splash-trending-container{
  display: flex;
  flex-direction: column;
}

  .splash-trending-title{
    font-size: 25px;
    padding: 32px 0px 33px 0px;
  }

  .splash-tracks-container{
  border: 1px solid $white;
}

.album-track-display{
  display: flex;
  justify-content: center;
}

.splash-tracks-ul{
  display: flex;
  height: 32rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 96%;
}
  .splash-tracks{
    max-height: 257.98px;
    font-size: 14px;
  }

.splash-trending-explore{
  padding: 10px 0px 10px 0px;
  width: 204px;
  align-self: center;
  margin: 0px 0px 56px 0px;
  background-color: $coral;
  color: $white;
  border-radius: 3px;
  transition: 1s;
}
.splash-trending-explore:hover{
  background-color: $gold;
}

// App Section
.splash-app-container{
  display: flex;
  width: 100%;
}
  .splash-app-image-1{
    width: 60%;
  }

  .splash-app-image-2{
    height: 68.4%;
  }

    .splash-app-details{
      height: 38.6%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: $snow;
    }
      .splash-app-title{
        font-size: 35px;
        letter-spacing: 2px;
        }

      .splash-app-hr{
        border: none;
        width: 80px;
        padding: 3px 0px 0px 0px;
        background-image: linear-gradient(to right, #DF7B6C , #6578CB);
      }

      .splash-app-text{
        font-size: 20px;
      }

// Creators Section
.splash-creators-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}
.splash-creators-bg{
  width: 100%;
  min-height: 150px;
  max-height: 100%;
  }

  .splash-creators-bg-trans{
    position: absolute;
    background-color: rgba(132, 101, 203, 0.276);
    width: 84%;
    height: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
    .splash-creators-bg-trans-link{
      padding: 13px 15px 13px 15px;
      border-radius: 3px;
      background-color: $coral;
      transition: 1s;
    }
    .splash-creators-bg-trans-link:hover{
      background-color: $gold;
    }

  .splash-creators-bg-trans-title{
    font-size: 45px;
    letter-spacing: 2px;
    filter: drop-shadow(2px 3px 3px black);
  }
  .splash-creators-bg-trans-desc{
    width: 65%;
    font-size: 20px;
    filter: drop-shadow(2px 3px 3px black);
  }

// Footer Section
.splash-footer-container{
  height: 375px;
  display: flex;
  align-self: center;
  margin-top: 69px;
}

  .splash-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 699px;
  }
    .splash-footer-title{
      font-size: 41px;
      letter-spacing: 2px;
    }
    .splash-footer-desc{
      font-size: 20px;
      letter-spacing: 1px;
    }

  .splash-footer-signup{
    padding: 13px 50px 13px 50px;
    border-radius: 3px;
    background-color: $coral;
    color: $white;
    height: auto;
    margin-top: 7px;
    transition: 1s;
  }
  .splash-footer-signup:hover{
    background-color: $gold;
  }

  .splash-footer-nav{
    display: flex;
    flex-direction: row;
    width: 255px;
    justify-content: space-between;
    margin-top: 10px;
  }
    .splash-footer-nav-p{
      font-size: 13px;
      margin: auto;
    }

    .splash-footer-login{
      border: 1px solid rgba(182, 171, 171, 0.742);
      padding: 7px 13px 7px 13px;
      border-radius: 3px;
    }