.track-player-container{
  // border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 46px;
  // background-color: #F2F2F2;
  background-color: rgb(184, 182, 182);
}

.fas.fa-play{
  color: rgb(14, 30, 99);
  font-size: .75rem;
  // filter: drop-shadow(0 0 0.35rem rgba(55, 49, 49, 0.714));
}

.fas.fa-play:hover{
  color: red;
  transition: .75s;
}

.fas.fa-pause{
  color: blue;
  font-size: 3.75rem;
  // filter: drop-shadow(0 0 0.35rem rgba(55, 49, 49, 0.714));
}

.fas.fa-pause:hover{
  color: green;
  transition: .75s;
}

.artists-details{
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.the-details{
  // border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  // width: 20%;
}

.albumcover{
  width: 30px;
  height: 30px;
}