// template and placeholder
.album-cover-1 {
  background-image: image-url("chillhop.jpeg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-2 {
  background-image: image-url("parallel.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-3 {
  background-image: image-url("puurple.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-4 {
  background-image: image-url("yestalgia.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-5 {
  background-image: image-url("eevee-em.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-6 {
  background-image: image-url("jinsang.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-7 {
  background-image: image-url("eevee.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-8 {
  background-image: image-url("bsdu.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-9 {
  background-image: image-url("tompa.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-10 {
  background-image: image-url("ohko.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-11 {
  background-image: image-url("producertrent.jpeg");
  height: 160px;
  width: 160px;
  background-size: cover;
}

.album-cover-12 {
  background-image: image-url("emune.jpg");
  height: 160px;
  width: 160px;
  background-size: cover;
}