/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_variables
 *= require reset
 *= require_tree .
 *= require_self
 */

body {
  background-color:#F2F2F2;
  display: flex;
  justify-content: center;
}

#root{
  width: 90%;
  display: flex;
  justify-content: center;
  /* position: absolute; */
}

.app-container{
  /* position: relative; */
  width: 100%;
  max-width: 1269px;
}

@media all and (max-width: 1240px){
  .app-container{
    min-width: 1003px;
  }
}