@import "variables";

.error-404-container{
  margin-top: 2.86rem;
  font-family: $roboto;
  font-size: $normal;
  color: $black;
  background-color: $white;
  border: 1px solid black;
}
  .error-404-oops{
    font-weight: 900;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(#DF7B6C, #6578CB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .error-404-details{
    border: 1px solid blue;
  }
    .error-404-code{
      border: 1px solid red;
    }
    .error-404-message{
      border: 1px solid green;
    }

  .error-404-button{
    border: 1px solid orange;
  }