#error-404 {
  // border: 1px solid black;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background-color: white;
}
  #error-404 h1 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  #error-404 p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 11%;
  }

.error-image {
  // background-image: image_url('error_image.jpg');
  background-size: cover;
  height: 500px;
  width: 724px;
}
