// COLORS
$black: #333333;
$light-gray: #999999;
$white: #FFFFFF;
$snow: #F2F2F2;
$input-gray: rgb(191, 187, 187);
$coral: #DF7B6C;
$gold: rgb(230, 150, 64);
$pastel: #6578CB;

// FONTS
$normal-size: 14px;
$small-size: 11px;
$roboto: 'Roboto', sans-serif;