// TEXT COLORS
$black: #333333;
$gray: #999999;
$light-gray: #CCCCCC;
$search-gray: #4f5b66;

// UI COLORS
$white: #FFFFFF;
$snow: #F2F2F2;
$input-gray: rgb(191, 187, 187);
$coral: #DF7B6C;
$dark-coral: rgb(206, 126, 113);
$gold: rgb(230, 150, 64);
$lavandula: #6578CB;
$thistle: #A77A9B;
$border: #e5e5e5;
$nav-border: #111111;
$track-border: #cecece;

// MISC
$top-margin: 2.86rem;

// FONTS
$normal: 14px;
$mid-small: 12px;
$small: 11px;
$roboto: 'Roboto', sans-serif;